@media only screen and (max-width: 600px) {
  .header{
  	width: 100%;	
  }
  .list{
  	margin: 8rem auto;
  	width: 100%;
  	grid-template-columns:auto;
  	
  	
  }
  .card{
  	margin: auto;
  	width:22rem;
  }
  .detailed{
  	width:100vw;
  }
  .detailed__image_container{
  	height:40%;
  }

}